body {
    margin: auto;
    width: 60vmax;
    background-color:#EBCFC4;
    
}


.skills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 10vh;
}
a{
    margin: 10px;
}

#lang_wrap {
    float: right;
}